/* .home:not(#section-1) {
    background-color: #FDFDFD;
} */

div.home {
    position: relative;
    line-height: 2em;
}

/* div.scroll-container {
    background-color: #FBFCFC;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px;
     position: absolute; 
    overflow:hidden;
    overflow-y: hidden;
    white-space:nowrap;
    bottom: 0;

    left: 0;
    animation-name: scroll;
    animation-duration: 100s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

div.scroll-container img {
    padding: 10px;
} */

/* @keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
} */




.home-button {
    background-color: #ffceacff;
    /*ffceacff: salmon/orange or ffe87e: yellow*/
    border-style: solid;
    border-color: #ffceacff;
    padding: 12px;
    color: #242424;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 30px;
}

.paw-print-divider {
    text-align: center;
}


div.service-card-section {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

div.service-card {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 #00000033;

    margin-bottom: 25px;
    border-top-left-radius: 50px;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
    transition: box-shadow 1s, translate 1s;
}

div.service-card:hover {
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    translate: 0px -10px;
}

button.home-button:hover {
    color: #242424;
    /*f7f7f7*/
    background-color: #ffddc4;
    /*f8dd66 : darker than ffe87e*/
    /*ffceacff: salmon/orange*/
    /*fff0ad: light yellow*/
    border-color: #ffddc4;
    /*f8dd66*/
}

div.service-card img.service-card-image {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

div.service-card div.container {
    text-align: center;
    padding: 10px 20px;
}

div.service-card div.container p.heading-2 {
    font-weight: bold;
    font-size: 20px;
}

p.service-card-body-text {
    font-size: 15px;
    ;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (min-device-width: 300px) and (max-device-width: 412px) {
    .cat-paw-image {
        margin: 100px 15px;
    }

    .service-card-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    img[id='hide-on-small-screens'] {
        display: none;
    }

    .cat-spotlight-img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}


@media screen and (min-device-width: 414px) and (max-device-width: 699px) {

    .cat-spotlight-img {
        width: 80dvw;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-device-width: 768px) and (max-device-width: 1280px) {
    .cat-spotlight-img {
        width: 45dvw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 700px) {
    .cat-spotlight-img {
        width: 45dvw;
        margin-left: auto;
        margin-right: auto;
    }

    div[class='cat-paw-steps'] {
        width: 50dvh;
    }

}

@media screen and (min-device-width: 1300px) {
    .cat-spotlight-img {
        width: 30dvw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 900px) {
    div.service-card-section {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    div.service-card {
        margin-left: auto;
        margin-right: auto;
        width: 60dvw;
    }

    div.location-and-hours {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    div[id='address'] {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div[id='bakery-hours'] {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    div[id='cafe-hours'] {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}


@media screen and (min-width: 320px) {
    .cat-paw-image {
        margin: 125px 15px;
    }

    .service-card-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}



@media screen and (min-width: 900px) {


    img[class='mission-img'] {
        width: 220px;
        height: 220px;
    }
}

@media screen and (min-width: 1100px) {


    img[class='mission-img'] {
        width: 300px;
        height: 300px;
    }

    div.location-and-hours {
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    div[id='address'] {
        margin: 20px auto;
    }

    div[id='bakery-hours'] {
        margin: 20px auto;
    }

    div[id='cafe-hours'] {
        margin: 20px auto;
    }
}





/* @media screen and (min-width: 1700px) {
    div.section-3 div.service-card-section {
        display: flex;
        flex-direction: row;
        overflow: hidden;
    }
} */



/********************* NEW LAYOUT *************************/

div.s1 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: 600px;
}

div.s1-r1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

div.s2 {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 20px;
}

div.s2-r1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: 100px; */
    justify-content: center;
}

div.s2-r2 {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 100px;
    margin-right: auto;
    justify-content: center;
}

div.s4 {
    display: flex;
    flex-direction: column;
    background-color: #FBFCFC;
    margin: 0 auto;
    justify-content: center;
    padding: 50px 0;
}

div.s4 p {
    padding: 0px 100px;
}

div.s5 {
    display: flex;
    flex-direction: row;
}

div.s5-r1 {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: auto;
    justify-content: center;
}

div.s6 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

div.s6-r1 p {
    text-align: left;
    padding: 0 100px;
}

div.s6-r2 {
    margin: 0 auto; 
    width: auto;
}

@media screen and (max-width: 1200px) {
    div.s1 {
        flex-direction: column;
        height: auto;
        width: auto;
    }

    div.s1-r1 {
        width: auto;
    }

    img.cat-coffee-img {
        display: none;
    }

    div.s2 {
        flex-direction: column;
        height: auto;
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    div.s2-r1 {
        width: auto;
        margin: 0 auto;
    }

    div.s2-r2 {
        width: auto;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    div.s4 {
        display: flex;
        flex-direction: column;
        background-color: #FBFCFC;
        margin: 0 auto;
        padding-left: 40px;
        padding-right: 40px;
    }

    div.s4 p {
        padding: 0;
    }

    div.s5 {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 40px;
        padding-right: 40px;
    }

    div.s5-r1 {
        width: auto;
        margin: 0 auto;
    }

    div.s6 {
        padding-left: 40px;
        padding-right: 40px;
    }

    div.s6-r1 {
      width: auto;
        margin: 0 auto;
    }

    div.s6-r1 p {
        padding: 0;
    }


}